@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
}

@layer base {
  @font-face {
    font-family: 'Lato';
    font-weight: 400;
    src: url('./assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: url('./assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-display: swap;
  }
}
